*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: karla;
    src: url(./fonts/Karla-VariableFont_wght.ttf);
}
:root{
    --Cyan: hsl(179, 62%, 43%);
    --Brightyellow: hsl(71, 73%, 54%);
    
    /* ### Neutral */
    
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
    
}
body{
    font-family: karla,sans-serif, 'Courier New', Courier, monospace;
    background-color: var(--LightGray);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

 